<element name="edit-todo">
  <template>
    <style>

    </style>

    <input class="edit" value="{{value}}" type="text" {{on 'blur' 'doneEditing'}} {{on 'keyup' 'inputModified'}}>

  </template
  <script>
    return ({
      value: 'Default Value',
      readyCallback: function(event){
        this.oldValue = this.data.get('value');
      },
      insertedCallback: function(event){
        this.dom.focus();
      },
      doneEditing: function(event){
        event.data.set('editing', false);
      },
      inputModified: function(event){
        // If enter
        if(event.keyCode == 13)
          this.doneEditing(event);
        // If escape
        if(event.keyCode == 27){
          this.data.set('value', this.oldValue);
          this.doneEditing(event);
        }
      }
    })
  </script>
</element>