<element name="edit-todo">
  <template>
    <style>
    </style>

    <input class="edit" value="{{value}}" type="text" {{on 'blur' 'doneEditing'}} {{on 'keyup' 'inputModified'}}>

  </template>
  <script>
    return ({
      value: 'Default Value',
      arr: [{f:1}, {g:2}],
      obj: {a:1, b:2},
      createdCallback: function(event){
        this.oldValue = this.get('value');
      },
      attachedCallback: function(event){
        this.$('input.edit').focus();
      },
      detachedCallback: function(){
        console.log('removed!', this.el);
      },
      doneEditing: function(event){
        this.set('editing', false);
      },
      inputModified: function(event){
        // If enter
        if(event.keyCode == 13)
          this.doneEditing(event);

        // If escape
        if(event.keyCode == 27){
          this.set('value', this.oldValue);
          this.doneEditing(event);
        }
      }
    })
  </script>
</element>