<element name="demo-route">
	<template>

		<link href="/test/demo/templates/editing.html">

		<section id="todoapp">

			<header id="header">
				<h1>{{firstTodo.title}}</h1>
		    <input id="new-todo" type="text" placeholder="What needs to be done?" value="{{newTitle}}"  {{on 'keyup' 'createTodo'}}>
			</header>

		  {{#if todos}}
				<section id="main">
					<ul id="todo-list">
						{{#each filteredTodos as | item |}}
							<li class="{{if item.isCompleted "completed"}} {{if item.editing "editing"}}">
								{{#if item.editing}}
		              <edit-todo value={{item.title}} editing={{item.editing}} arr={{item.arr}} obj={{item.obj}}></edit-todo>
								{{else}}
									<input type="checkbox" class="toggle" checked="{{item.isCompleted}}">
									<label {{on "dblclick" "editTodo" item=item}}>{{item.title}}</label>
									<button {{on "click" "removeTodo" item=item}} class="destroy"></button>
								{{/if}}
							</li>
						{{/each}}
					</ul>
					<input type="checkbox" id="toggle-all" checked={{allAreDone}} {{on 'click' 'toggleAll'}}>
				</section>
				<footer id="footer">
					<span id="todo-count"><strong>{{remaining}}</strong> item left</span>
					<ul id="filters">
						<li>
							<a href="/all" class="{{if isAll 'selected'}}" >All</a>
						</li>
						<li>
							<a href="/active?foo=bar" class="{{if isActive 'selected'}}" >Active</a>
						</li>
						<li>
		          <a href="/completed" class="{{if isCompleted 'selected'}}">Completed</a>
						</li>
					</ul>
					{{#unless noneAreDone}}
						<button id="clear-completed" {{on "click" "clearCompleted"}}>
							Clear completed ({{completed}})
						</button>
					{{/unless}}
				</footer>
		  {{/if}}
		</section>
		<footer id="info">
			<p>Double-click to edit a todo</p>
			<p>
				Created by
				<a href="http://github.com/epicmiller">Adam Miller</a>,
			</p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
	</template>
</element>
<script>

	return ({

	/**************** Component Configs *******************/


	/*************** Lifecycle Functions ******************/

		initialize: function(options){

		},
		createdCallback: function(){

		},
		attachedCallback: function(){

		},
		detachedCallback: function(){

		},
		routes: {
			// "(:filter)" : "filterList",
			"/^(completed|active|all)$/": "filterList"
		},

	/************** Component Properties *****************/

		service: Rebound.services.service,

		newTitle: '',
		filter: 'all',
		todos: [
			{
				title: "Tie Bowtie",
				editing: false,
				isCompleted: true
			},{
				title: "Look Dapper",
				editing: false,
				isCompleted: false
			},{
				title: "Profit",
				editing: false,
				isCompleted: false
			}
		],

	/************** Computed Properties *****************/

		get serviceTest(){
			return this.get('service.obj.test');
		},

		get allAreDone(){
			return this.get('todos').where({'isCompleted': true}).length == this.get('todos').length;
		},
		get noneAreDone(){
			return this.get('todos').where({'isCompleted': true}).length == 0;
		},
		get remaining(){
			return this.get('todos').where({'isCompleted': false}).length;
		},
		get completed(){
			return this.get('todos').where({'isCompleted': true}).length;
		},
		get todosProxy(){
			return this.get('filteredTodos');
		},
		get firstTodo(){
			return this.get('todosProxy[0]');
		},
		get secondTodo(){
			return this.get('filteredTodos[1]');
		},
		get filteredTodos(){
			if(this.get('filter') == 'all')
				return this.get('todos');
			if(this.get('filter') == 'active')
				return this.get('todos').where({'isCompleted': false});
			if(this.get('filter') == 'completed')
				return this.get('todos').where({'isCompleted': true});
		},
		get isAll(){ return this.get('filter') === 'all'; },
		get isActive(){ return this.get('filter') === 'active'; },
		get isCompleted(){ return this.get('filter') === 'completed'; },


	/************** Component Methods *****************/

		createTodo: function(event){
			if(event.keyCode !== 13){ return void 0; } // if not enter key, return
			if(this.get('newTitle') == ''){ return void 0; }
			this.get('todos').add({
				title: this.get('newTitle'),
				editing: false,
				isCompleted: false
			});
			this.set('newTitle', '');
		},
		toggleAll: function(event){
			var value = event.target.checked;

			this.get('todos').forEach(function(model, index) {
				model.set('isCompleted', value);
			});

		},
		clearCompleted: function(event){
			this.get('todos').remove(
				this.get('todos').where({'isCompleted': true})
			);
		},
		removeTodo: function(event){
			this.get('todos').remove(event.data.item);
		},
		editTodo: function(event){
			event.data.item.set('editing', true); // event.context by default is the context the element was rendered in
		},
		filterList: function(filter){
			filter || (filter = 'all');
			this.set('filter', filter);
		},
		test: function(event){

		}
	});
</script>
